<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com">
        <script src="https://code.jquery.com/jquery"></script>
        <link href="sample.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="view.js"></script>
    </head><style>
        .nonelanco:hover  { cursor : pointer;}

    </style>
    <body>
        <header>
            <nav class="bg_header">
                <img class="lillylogo" alt="lilly" src="abc.png">
                 <span class="page_head">Contentful</span>
            </nav>
        </header>
        <main>
            <div id="info">

            </div>
            <div style="width:100%; margin-top: 60px">
             <div id="dashboard">
            </div>
        </main>
    </body>
</html>