<!DOCTYPE html>
<html>
    <head>
        <script>
       $(document).ready(function() {
           $('#modal1').modal();
       });
            </script>
            <script type="text/javascript" src="view2.js"></script>
    </head>
    <style>
        button { margin : 420 ;}
    </style>
    <body>
        <header>
            <nav class="bg_header">
                <img class="logo" src="logo.png">
                <span class="head"> Platform </span>
            </nav>
        </header>
        <main>
            <div id="info">

            </div>
            <div id="dashboard">

            </div>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    
                </div>
            </div>
        </main>
    </body>
</html>